#root {
	display: flex;
	margin: 0 auto;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	justify-content: center;
}

button {
	background-color: #d8e7ff;
	border: none;
	border-radius: 0.5rem;
	color: #175bc0;
	font-weight: bold;
}

button:hover {
	background-color: #91a6db;
}

.blueCircle {
	border: none;
	background-color: #d8e7ff;
	border-radius: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 1.5rem;
}
